.home-background{ 
  background: url("./images/Home_background.jpg") no-repeat center center/cover;
  height: 100vh;
  text-align: center;
}

.fade50{
  background-color: rgba(255, 255, 255,0.5);
  height: 100vh;
  text-align: center;
}

.body{
  position: relative;
  top: 65px;
}

.header{
  padding: 20px;
}

.fakeinput-container{
  margin-left: 20%;
}

.resultant-verdict{
  margin-top: 50px;
}

.navbar-header{
  /*background-color: rgba(227, 227, 227, 0.7);*/
  background-image: linear-gradient(to right, rgba(227, 227, 227, 0.75), 
      rgba(227, 227, 227, 0), rgba(227, 227, 227, 0.75));
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
}

.nav-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ------------------------------ About Us Page -----------------------------*/
.about-body {
  position: relative;
  top: 90px;
  
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 888px) {
  .grid {
    flex-direction: column;
  }
}

.design-about-header{
  text-shadow: 12px 9px 14px;
}

.designPerson {
  display: inline-block;
  background-color: rgba(238, 238, 238, 0);
  width: 400px;
  height: 260px;
  padding: 30px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s linear;
}

.designPerson:hover {
  background-color: rgba(238, 238, 238, 1);
  box-shadow: 4px 9px 15px rgba(0, 0, 0, 1);
}

.designimg {
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

.about-name{
  margin-top: 20px;
  font-size: 105%;
  font-weight: 500;
}

.about-footer{
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  text-align: center;
}

@media screen and (max-width: 888px) {
  .designPerson {
    width: 75%;
    margin: 20px auto;
  }
}