.home-background{ 
  background: url("./images/Home_background.jpg") no-repeat center center/cover;
  height: 100vh;
  text-align: center;
}

.fade50{
  background-color: rgba(255, 255, 255,0.5);
  height: 100vh;
  text-align: center;
}

.body{
  position: relative;
  top: 65px;
}

.header{
  padding: 20px;
}

.fakeinput-container{
  margin-left: 20%;
}

.resultant-verdict{
  margin-top: 50px;
}

.navbar-header{
  /*background-color: rgba(227, 227, 227, 0.7);*/
  background-image: linear-gradient(to right, rgba(227, 227, 227, 0.75), rgba(227, 227, 227, 0), rgba(227, 227, 227, 0.75));
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
}

.nav-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
