.home-background{ 
  background: url("./images/Home_background.jpg") no-repeat center center/cover;
  height: 100vh;
  text-align: center;
}

.fade50{
  background-color: rgba(255, 255, 255,0.5);
  height: 100vh;
  text-align: center;
}

.header{
  padding: 20px;
}

.fakeinput-container{
  margin-left: 20%;
}

.resultant-verdict{
  margin-top: 50px;
}
